* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    background: #495298;
  }
  
  .header {
    padding: 2px;
    font-size: 40px;
    text-align: center;
    background: rgb(106, 173, 228);
    color:white;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 5px 20px;
    font-family: 'Mohave', sans-serif;
  }
  
  .leftcolumn {   
    float: left;
    width: 100%;
  }
  
  .card {
     background-color: rgb(255, 255, 255);
     padding: 20px;
     margin-top: 20px;
     font-family: 'Zen Kurenaido', sans-serif;
     border-radius: 20px 5px;
     box-shadow: 2px 2px 2px 2px black;
  }

  .card:hover{
      background-color:turquoise;
      box-shadow: 5px 5px 5px 5px black;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }