{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Open+Sans+Condensed:ital,wght@1,300&family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <!-- font-family: 'Mohave', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif; -->
</head>
<body>

<div class="header">
  <h2>My Blog</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <a style="text-decoration: none; color: black;" href="/">
        <h2>{{posts.title}}</h2>
        <h5>{{posts.date}}</h5>
        <p>{{posts.context}}</p>
      </a>
    </div>
  </div>
</div>

</body>
</html>